# .gitignore 

# ignore all files in lib/
cache/app/*
cache/data/*
cache/logs/*
cache/page/*
cache/route/*
cache/sessions/*
cache/template/*
 
/node_modules
/vendor
/docs
.svn/
.gitee/
.idea/



 
# Except this file
!.gitignore


# except for .gitkeep
!.gitkeep
!index.html
# ignore TODO file in root directory,not subdir/TODO
#/TODO


